body
{
    overflow-x: hidden;
    background: #yellow;
overflow-y: scroll;
}
    
/* basic styles for black background and crosshair cursor */
body {
	background: #yellow;
	margin: 0;
}

canvas {
	
	display: block;
}